---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import home from '../features/home/img/home.png';
---

<Layout>
    <div class="h-screen">
        <Header />
        <div class="flex h-[calc(100%_-_3rem)]">
            <Sidebar />
            <main class="flex w-5/6 px-6 bg-white">
                <div class="w-full sm:w-1/2 pt-6">
                    <h3 class="text-xl mb-2 font-bold">もっと深く、もっと広く開発を楽しむ</h3>
                    <p>
                        このサイトでは管理人が開発を楽しくするために、開発に関係する学習サイト・便利サイトなどをまとめています。新しいサイトを見つけるたびに更新します。<br
                        />
                        どこかの誰かの役に立ちますように。
                    </p>
                    <img class="block w-full sm:w-4/5" src={home} alt="学習をしている画像" />
                    <a
                        class="text-xs text-blue-600"
                        href="https://storyset.com/education"
                        target="_blank"
                        rel="noreferrer">Education illustrations by Storyset</a
                    >
                </div>
            </main>
        </div>
    </div>
</Layout>
