---
import link from '../features/home/img/link.png';
---

<header class="flex items-center border-b h-12">
    <a href="/" class="flex items-center px-4 text-xl">
        <img src={link} class="h-8 w-8" />
        <span class="ml-1">Dev Links</span>
    </a>
</header>
