---
import ShareTwoToneIcon from '@mui/icons-material/ShareTwoTone';
---

<header class="flex items-center border-b h-12">
    <a href="/" class="flex items-center px-4 text-xl">
        <ShareTwoToneIcon className="h-6" />
        <span class="ml-1">Dev Links</span>
    </a>
</header>
