---
import { SidebarOptions } from '../features/sidebar/sidebarOptions';
import Copyright from './Copyright.astro';
---

<aside class="hidden sm:block w-1/6 border-r">
    <div class="h-full relative">
        <SidebarOptions />
        <Copyright />
    </div>
</aside>
