---
import HomeTwoToneIcon from '@mui/icons-material/HomeTwoTone';
import LanguageTwoToneIcon from '@mui/icons-material/LanguageTwoTone';
import SchoolTwoToneIcon from '@mui/icons-material/SchoolTwoTone';
import ArticleTwoToneIcon from '@mui/icons-material/ArticleTwoTone';
import LabelTwoToneIcon from '@mui/icons-material/LabelTwoTone';
import PanoramaTwoToneIcon from '@mui/icons-material/PanoramaTwoTone';
import MoreHorizTwoToneIcon from '@mui/icons-material/MoreHorizTwoTone';
---

<aside class="w-1/6 border-r">
    <div class="h-full pt-6 relative">
        <a href="/" class="pl-4 py-2 flex items-center hover:bg-gray-100">
            <HomeTwoToneIcon className="h-4" />
            <span class="pl-2">ホーム</span>
        </a>
        <a href="/language" class="pl-4 py-2 flex items-center hover:bg-gray-100">
            <LanguageTwoToneIcon className="h-4" />
            <span class="pl-2">言語</span>
        </a>
        <a href="/learning" class="pl-4 py-2 flex items-center hover:bg-gray-100">
            <SchoolTwoToneIcon className="h-4" />
            <span class="pl-2">学習</span>
        </a>
        <a href="/article" class="pl-4 py-2 flex items-center hover:bg-gray-100">
            <ArticleTwoToneIcon className="h-4" />
            <span class="pl-2">記事</span>
        </a>
        <a href="/useful" class="pl-4 py-2 flex items-center hover:bg-gray-100">
            <LabelTwoToneIcon className="h-4" />
            <span class="pl-2">便利</span>
        </a>
        <a href="/material" class="pl-4 py-2 flex items-center hover:bg-gray-100">
            <PanoramaTwoToneIcon className="h-4" />
            <span class="pl-2">素材</span>
        </a>
        <a href="/other" class="pl-4 py-2 flex items-center hover:bg-gray-100">
            <MoreHorizTwoToneIcon className="h-4" />
            <span class="pl-2">その他</span>
        </a>
        <p class="absolute bottom-1 left-3">
            &copy; 2023
            <a
                href="https://github.com/tukky-14/tukky-14.github.io"
                target="_blank"
                rel="noreferrer">tukky</a
            >
        </p>
    </div>
</aside>
