---
export interface Props {
    title?: string;
}
---

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="開発と学習に使いたいサイトの寄せ集め。" />
        <meta property="og:title" content="Dev Links" />
        <meta property="og:description" content="開発と学習に使いたいサイトの寄せ集め。" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/devlinks.png" />
        <meta property="og:url" content="https://dev-links.pages.dev/" />
        <title>Dev Links</title>
    </head>
    <body class="bg-gray-300">
        <slot />
    </body>
</html>
